## Nama : Fauzan Pradana
## Kelas : TI-2G
## NIM : 2041720224
## Absen : 10

In [21]:
import pandas as pd

In [16]:
df = pd.read_csv('dataset\World-population-by-countries-dataset.csv')

In [17]:
print(df)

                    Country Name Country Code         1960         1961  \
0                          Aruba          ABW      54208.0      55434.0
1    Africa Eastern and Southern          AFE  130836765.0  134159786.0
2                    Afghanistan          AFG    8996967.0    9169406.0
3     Africa Western and Central          AFW   96396419.0   98407221.0
4                         Angola          AGO    5454938.0    5531451.0
..                           ...          ...          ...          ...
261                       Kosovo          XKX     947000.0     966000.0
262                  Yemen, Rep.          YEM    5315351.0    5393034.0
263                 South Africa          ZAF   17099836.0   17524533.0
264                       Zambia          ZMB    3070780.0    3164330.0
265                     Zimbabwe          ZWE    3776679.0    3905038.0

            1962         1963         1964         1965         1966  \
0        56234.0      56699.0      57029.0      57357.0      57702.0
1    137614644.0  141202036.0  144920186.0  148769974.0  152752671.0
2      9351442.0    9543200.0    9744772.0    9956318.0   10174840.0
3    100506960.0  102691339.0  104953470.0  107289875.0  109701811.0
4      5608499.0    5679409.0    5734995.0    5770573.0    5781305.0
..           ...          ...          ...          ...          ...
261     994000.0    1022000.0    1050000.0    1078000.0    1106000.0
262    5473671.0    5556767.0    5641598.0    5727745.0    5816241.0
263   17965733.0   18423157.0   18896303.0   19384838.0   19888259.0
264    3260645.0    3360099.0    3463211.0    3570466.0    3681953.0
265    4039209.0    4178726.0    4322854.0    4471178.0    4623340.0

            1967  ...         2012         2013         2014         2015  \
0        58044.0  ...     102565.0     103165.0     103776.0     104339.0
1    156876454.0  ...  547482863.0  562601578.0  578075373.0  593871847.0
2     10399936.0  ...   31161378.0   32269592.0   33370804.0   34413603.0
3    112195950.0  ...  370243017.0  380437896.0  390882979.0  401586651.0
4      5774440.0  ...   25107925.0   26015786.0   26941773.0   27884380.0
..           ...  ...          ...          ...          ...          ...
261    1135000.0  ...    1807106.0    1818117.0    1812771.0    1788196.0
262    5907873.0  ...   24473176.0   25147112.0   25823488.0   26497881.0
263   20406863.0  ...   52832659.0   53687125.0   54544184.0   55386369.0
264    3797877.0  ...   14465148.0   14926551.0   15399793.0   15879370.0
265    4779825.0  ...   13115149.0   13350378.0   13586710.0   13814642.0

            2016         2017         2018         2019         2020  \
0       104865.0     105361.0     105846.0     106310.0     106766.0
1    609978946.0  626392880.0  643090131.0  660046272.0  677243299.0
2     35383028.0   36296111.0   37171922.0   38041757.0   38928341.0
3    412551299.0  423769930.0  435229381.0  446911598.0  458803476.0
4     28842482.0   29816769.0   30809787.0   31825299.0   32866268.0
..           ...          ...          ...          ...          ...
261    1777557.0    1791003.0    1797085.0    1788878.0    1790133.0
262   27168210.0   27834811.0   28498683.0   29161922.0   29825968.0
263   56207649.0   57009751.0   57792520.0   58558267.0   59308690.0
264   16363449.0   16853608.0   17351714.0   17861034.0   18383956.0
265   14030338.0   14236599.0   14438812.0   14645473.0   14862927.0

            2021
0       107195.0
1    694665117.0
2     39835428.0
3    470898870.0
4     33933611.0
..           ...
261    1806279.0
262   30490639.0
263   60041996.0
264   18920657.0
265   15092171.0

[266 rows x 64 columns]

In [18]:
# 5 data teratas
df.head(5)

,Country Name,Country Code,1960,1961,1962,1963,1964,1965,1966,1967,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,Aruba,ABW,54208.0,55434.0,56234.0,56699.0,57029.0,57357.0,57702.0,58044.0,...,102565.0,103165.0,103776.0,104339.0,104865.0,105361.0,105846.0,106310.0,106766.0,107195.0
1,Africa Eastern and Southern,AFE,130836765.0,134159786.0,137614644.0,141202036.0,144920186.0,148769974.0,152752671.0,156876454.0,...,547482863.0,562601578.0,578075373.0,593871847.0,609978946.0,626392880.0,643090131.0,660046272.0,677243299.0,694665117.0
2,Afghanistan,AFG,8996967.0,9169406.0,9351442.0,9543200.0,9744772.0,9956318.0,10174840.0,10399936.0,...,31161378.0,32269592.0,33370804.0,34413603.0,35383028.0,36296111.0,37171922.0,38041757.0,38928341.0,39835428.0
3,Africa Western and Central,AFW,96396419.0,98407221.0,100506960.0,102691339.0,104953470.0,107289875.0,109701811.0,112195950.0,...,370243017.0,380437896.0,390882979.0,401586651.0,412551299.0,423769930.0,435229381.0,446911598.0,458803476.0,470898870.0
4,Angola,AGO,5454938.0,5531451.0,5608499.0,5679409.0,5734995.0,5770573.0,5781305.0,5774440.0,...,25107925.0,26015786.0,26941773.0,27884380.0,28842482.0,29816769.0,30809787.0,31825299.0,32866268.0,33933611.0

In [19]:
# info detail
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 266 entries, 0 to 265
Data columns (total 64 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Country Name  266 non-null    object
 1   Country Code  266 non-null    object
 2   1960          264 non-null    float64
 3   1961          264 non-null    float64
 4   1962          264 non-null    float64
 5   1963          264 non-null    float64
 6   1964          264 non-null    float64
 7   1965          264 non-null    float64
 8   1966          264 non-null    float64
 9   1967          264 non-null    float64
 10  1968          264 non-null    float64
 11  1969          264 non-null    float64
 12  1970          264 non-null    float64
 13  1971          264 non-null    float64
 14  1972          264 non-null    float64
 15  1973          264 non-null    float64
 16  1974          264 non-null    float64
 17  1975          264 non-null    float64
 18  1976          264 non-null    float64
 19  1977          264 non-null    float64
 20  1978          264 non-null    float64
 21  1979          264 non-null    float64
 22  1980          264 non-null    float64
 23  1981          264 non-null    float64
 24  1982          264 non-null    float64
 25  1983          264 non-null    float64
 26  1984          264 non-null    float64
 27  1985          264 non-null    float64
 28  1986          264 non-null    float64
 29  1987          264 non-null    float64
 30  1988          264 non-null    float64
 31  1989          264 non-null    float64
 32  1990          265 non-null    float64
 33  1991          265 non-null    float64
 34  1992          264 non-null    float64
 35  1993          264 non-null    float64
 36  1994          264 non-null    float64
 37  1995          265 non-null    float64
 38  1996          265 non-null    float64
 39  1997          265 non-null    float64
 40  1998          265 non-null    float64
 41  1999          265 non-null    float64
 42  2000          265 non-null    float64
 43  2001          265 non-null    float64
 44  2002          265 non-null    float64
 45  2003          265 non-null    float64
 46  2004          265 non-null    float64
 47  2005          265 non-null    float64
 48  2006          265 non-null    float64
 49  2007          265 non-null    float64
 50  2008          265 non-null    float64
 51  2009          265 non-null    float64
 52  2010          265 non-null    float64
 53  2011          265 non-null    float64
 54  2012          264 non-null    float64
 55  2013          264 non-null    float64
 56  2014          264 non-null    float64
 57  2015          264 non-null    float64
 58  2016          264 non-null    float64
 59  2017          264 non-null    float64
 60  2018          264 non-null    float64
 61  2019          264 non-null    float64
 62  2020          264 non-null    float64
 63  2021          264 non-null    float64
dtypes: float64(62), object(2)
memory usage: 133.1+ KB